 <h2 class="page-header">People Counter</h2>
 <img src="emotion.jpg" ALT="" WIDTH=250 HEIGHT=175>
<p>Welcome to your people counter</p>  
<p>The number of people is to your bottom left</p> 
<p>We spent 10+ hours</p> 
<img src="logo.jpg" ALT="" WIDTH=500 HEIGHT=200>
